<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="dashboard.html" class="logo">
        <img
          src="assets/img/logo_light.svg"
          alt="navbar brand"
          class="navbar-brand"
          height="20"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
  </div>
  <!-- End Logo Header -->
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item active">
          <a href="/dashboard.html" class="logo">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/products.html">
            <i class="fas fa-table"></i>
            <p>Products</p>
            <span class="badge badge-success">4</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/orders.html">
            <i class="fas fa-table"></i>
            <p>Orders</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/users.html">
            <i class="fas fa-table"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/categories.html">
            <i class="fas fa-table"></i>
            <p>Categories</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/subscribers.html">
            <i class="fas fa-table"></i>
            <p>Subscribers</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/blacklist.html">
            <i class="fas fa-table"></i>
            <p>Blacklist</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/messages.html">
            <i class="fas fa-table"></i>
            <p>Messages</p>
            <span class="badge badge-success">4</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
